# Tarea SQL

1. Find the longest time that an employee has been at the studio

In [ ]:
SELECT 
    Role,
    Name,
    MAX(Years_employed)
FROM employees;

2. For each role, find the average number of years employed by employees in that role

In [ ]:
SELECT 
    Role,
    AVG(years_employed)
FROM employees
GROUP BY Role

3. Find the total number of employee years worked in each building

In [ ]:
SELECT
    building,
    SUM(years_employed)
FROM Employees
GROUP BY building